<div class="listing-card">
  <%= image_tag listing.image, class:"listing-card-img" if listing.image.attached? %>
  <h3><%= link_to listing.title, listing_path(listing), class:"listing-title" %></h3>
  <h2 class="listing-price"><%= number_to_currency(listing.price) %></h2><br>
  <strong>Platform:</strong> <%= listing.platform.manufacturer %> <%= listing.platform.name %><br>
  <strong>Condition:</strong> <%= listing.condition.humanize %><br>
  Posted by <%= render "user_profile/username", user: listing.user %>
   at <%= listing.created_at %>
</div>