<h1>Advanced Search</h1>

<%= search_form_for @q do |f| %>
  <div class="field">
    <%= f.label :title_cont, "Title" %>
    <%= f.search_field :title_cont, placeholder: "game title" %>
  </div>

  <div class="field">
    <%= f.label :platform_name_eq, "Platform" %>
    <%= f.select :platform_name_or_platform_generation_eq, options_for_select(Platform.search_select_options) %>
  </div>

  <div class="field">
    <%= f.label :genre_name_cont, "Genre" %>
    <%= f.select :genre_name_cont, options_for_select(Genre.search_select_options) %>
  </div>

  <div class="field">
    <%= f.label :user_address_country_name_eq, "Location" %>
    <%= f.select :user_address_country_name_eq, options_for_select(Country.search_select_options) %>
  </div>

  <div class="field">
    <%= f.label :user_username_cont, "User" %>
    <%= f.search_field :user_username_cont, placeholder: "username" %>
  </div>

  <div class="field">
    Price:
    <div>
    <%= f.label :price_gteq, "between" %> <%= f.search_field :price_gteq, placeholder: "lower price" %><br>
    <%= f.label :price_lteq, "and" %> <%= f.search_field :price_lteq, placeholder: "greater price" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :sorts, "Sorted by" %>
    <%= f.select :sorts, options_for_select(@sort) %>
  </div>

  <%= f.submit %>
<% end %>