<h1>Listing: <%= @listing.title %></h1>

<% if @listing.is_sold %>
  <h2 class="listing-price">[SOLD]</h2>
<% end %>

<% if can? :update, @listing %>
  <p><%= link_to "Edit listing", edit_listing_path(@listing) %></p>
<% end %>


<div class="listing-container">

  <div class="listing-container-inner">
    <div class="listing-info">
      <p>
        <strong>Posted:</strong> <%= @listing.created_at %> by <%= render "user_profile/username", user: @listing.user %>
        <br>
        <strong>Platform:</strong> <%= @listing.platform.manufacturer %> <%= @listing.platform.name %><br>
        <strong>Genre:</strong> <%= @listing.genre.name %><br>
        <strong>Condition:</strong> <%= @listing.condition.humanize %>
      </p>

      <h1 class="listing-price"><%= number_to_currency(@listing.price) %></h1>
      <% if user_signed_in? && @listing.user != current_user && !@listing.is_sold %>
        <button data-stripe="payment">Purchase</button>
      <% end %>
    </div>

    <%= image_tag @listing.image, class:"listing-img" if @listing.image.attached? %>
  </div>

  <p>
    <strong>Description:</strong><br>
    <% if !@listing.description.blank? %>
      <%= @listing.description %>
    <% else %>
      <em>No description.</em>
    <% end %>
  </p>

</div>

<%= render "layouts/back" %>




<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>