<h1>Listing: <%= @listing.title %></h1>

<p><%= link_to "Edit listing", edit_listing_path(@listing) if can? :update, @listing %></p>

<div class="listing-container">

  <div class="listing-container-inner">
    <div class="listing-info">
      <p>
        <strong>Posted:</strong> <%= @listing.created_at %> by <%= link_to user_profile_path(@listing.user) do %>
          <%= @listing.user.username %> <%= @listing.user.address.emoji_flag if @listing.user.address %>
        <% end %>
        <br>
        <strong>Platform:</strong> <%= @listing.platform.manufacturer %> <%= @listing.platform.name %><br>
        <strong>Genre:</strong> <%= @listing.genre.name %><br>
        <strong>Condition:</strong> <%= @listing.condition.humanize %>
      </p>

      <h1 class="listing-price"><%= number_to_currency(@listing.price) %></h1>
      <% if user_signed_in? && @listing.user != current_user %>
        <button data-stripe="payment">Purchase</button>
      <% end %>
    </div>

    <%= image_tag @listing.image, class:"listing-img" if @listing.image.attached? %>
  </div>

  <p>
    <strong>Description:</strong><br>
    <% if !@listing.description.blank? %>
      <%= @listing.description %>
    <% else %>
      <em>No description.</em>
    <% end %>
  </p>

</div>


<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>