<div class="profile-quick-info">
  <%= image_tag user.user_detail.avatar, class:"profile-av" if user.user_detail.avatar.attached? %>

  <h1>User: <%= user.username %></h1>
  <% if user.address && user.address.country %>
    <p><strong>Location:</strong> <%= user.address.country.name %> <%= user.address.emoji_flag %></p>
  <% end %>

  <p><%= link_to "View this user's listings", user_listings_path(user) %></p>
</div>