<div class="profile-quick-info">
  <%= image_tag current_user.user_detail.avatar, class:"dashboard-av" if current_user.user_detail.avatar.attached? %>

  <h1>Dashboard</h1><br>
  <%= link_to "My profile", user_profile_path(current_user) %>
</div>

<hr>

<h2>My Listings</h2>
<%= link_to "Add new listing", new_listing_path %><br>

View:
<% if @sold %>
  <%= link_to "Active listings", dashboard_path %> |
  <strong>Sold listings</strong>
<% else %>
  <strong>Active listings</strong> |
  <%= link_to "Sold listings", dashboard_path(sold: true) %>
<% end %>

<% if @listings.any? %>
  <% @listings.each do |listing| %>
    <%= render "listings/card_mine", listing: listing %>
  <% end %>
<% else %>
  <p><em>No listings</em></p>
<% end %>

<hr>

<h2>My Wishlist</h2>
<% if current_user.wishlist_items.any? %>
  <ul>
  <% current_user.wishlist_items.each do |item| %>
    <li><%= item.title %> <%= link_to "(Search)", listings_path(q: {title_cont: item.title}) %></li>
  <% end %>
  </ul>
<% else %>
  <em>No items on wishlist</em>
<% end %>