<div class="profile-quick-info">
  <%= image_tag @user.user_detail.avatar, class:"profile-av" if @user.user_detail.avatar.attached? %>

  <h1>User: <%= @user.username %></h1>
  <% if @user.address %>
    <p><strong>Location:</strong> <%= @user.address.country.name %> <%= @user.address.emoji_flag %></p>
  <% end %>

  <p><%= link_to "View this user's listings", user_listings_path(@user) %></p>
</div>

<% if can? :crud, @user %>
  <p>
    <%= link_to "Edit account details", edit_user_registration_path %><br>
    <%= link_to "Edit profile", edit_user_profile_path(@user) %><br>
    <% if @user.address %>
      <%= link_to "Edit shipping address", edit_address_path(@user) %>
    <% else %>
      <%= link_to "Add shipping address", new_address_path(@user) %>
    <% end %>
  </p>
<% end %>

<div class="profile-bio">
  <h3>Bio:</h3>
  <%= @user.user_detail.bio %>
</div>

<hr>

<div class="wishlist">
  <h3>Wishlist:</h3>
  <% if can? :create, @wishlist_item %>
    <%= form_with(model: @wishlist_item, url: wishlist_items_path(@user), local: true) do |form| %>
      <div class="field">
        <%= form.label :title, "Add item" %>
        <%= form.text_field :title, placeholder: "game title" %>
      </div>

      <div class="submit">
        <%= form.submit "Add to wishlist" %>
      </div>
    <% end %>
  <% end %>

  <% if @user.wishlist_items.any? %>
    <ul>
      <% @user.wishlist_items.each do |item| %>
        <li>
          <%= item.title %>
          <% if can? :destroy, item %>
            <%= link_to "X", remove_wishlist_item_path(@user, item), method: :delete %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p><em>No items in wishlist</em></p>
  <% end %>
</div>