<h1>Edit Profile</h1>

<%= form_with(model: current_user.user_detail, local: true) do |form| %>
  <% if current_user.user_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_user.user_detail.errors.count, "error") %> prohibited this address from being saved</h2>
      <ul>
        <% current_user.user_detail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :avatar %> <%= form.file_field :avatar, accept:
    'image/png,image/gif,image/jpeg,image/jpg' %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>

<p>
  <%= link_to "Back", user_path(current_user) %>
<p>