<nav id="main-nav">
  <%= link_to root_path do %>
    <h1 class="home-icon"><i class="fas fa-gamepad"></i> GameSwap</h1>
  <% end %>

  <div class="nav-links">
    <%= link_to "Listings", listings_path %>
    <% if user_signed_in? %>
      <div class="dropdown">
        <div class="nav-user">
          <%= current_user.username %> <%= image_tag current_user.user_detail.avatar if current_user.user_detail.avatar.attached? %>
        </div>
        <div class="dropdown-content">
          <%= link_to "Dashboard", dashboard_path %>
          <%= link_to "My Profile", user_profile_path(current_user) %>
          <%= link_to "New Listing", new_listing_path %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>
</nav>