<div class="sidebar">
  <div class="sidebar-inner">
    <h3>Search all listings</h3>
    <%= search_form_for @q do |f| %>
      <!--<%= f.label :title_cont %>-->
      <%= f.search_field :title_cont, placeholder: "Search by game title" %>
      <%= f.submit %>
    <% end %>

    <h3>Browse listings</h3>
    <%= link_to "Browse latest", listings_path %>
    <%= link_to "Browse by title", listings_path(q: {sorts: "title asc"}) %>
    <%= link_to "Browse by price", listings_path(q: {sorts: "price asc"}) %>

    <h4>Browse by platform</h4>

    <%= search_form_for @q do |f| %>
      <!--<%= f.label :platform_name_eq %>-->
      <%= f.select :platform_name_eq, options_for_select(Platform.search_select_options) %>
      <%= f.submit %>
    <% end %>

    <h4>Browse by genre</h4>

    <%= search_form_for @q do |f| %>
      <!--<%= f.label :genre_name_cont %>-->
      <%= f.select :genre_name_cont, options_for_select(Genre.search_select_options) %>
      <%= f.submit %>
    <% end %>

    <h4>Browse by location</h4>

    <%= search_form_for @q do |f| %>
      <%= f.select :user_address_country_name_eq, options_for_select(Country.search_select_options) %>
      <%= f.submit %>
    <% end %>

    <h4><%= link_to "Advanced search", search_path %></h4>
  </div>

  <div class="sidebar-footer">
    &copy; Tessa Peterson 2019<br>
    <a href="https://www.vecteezy.com/"> Vectors by Vecteezy</a>
  </div>
</div>
